body {
    .facecare_info {
        padding-bottom: 220px;
        text-align: center;
        padding: 7%;

        h1 {
            font-size: 42px;
            display: inline;
        }

        .mySwiper {
            .swiper {
                width: 100%;
                height: 100%;
                margin: 5% 0;
            }

            .swiper-slide {
                text-align: center;
                font-size: 18px;
                background: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .swiper-slide img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        h4 {
            font-size: 20px;
            color: #777777;
            padding-bottom: 1.5%;
            margin: 5% 10% 1.5% 10%;
            border-bottom: 1px solid #777777;
        }

        p {
            color: #777777;
            padding: 0 1%;
        }

        .mySwiper02 {
            padding: 40px 10px 0 10px;
            // overflow: visible;
            z-index: 1;
            position: relative;

            .card_type {
                text-align: center;
                border: 2px solid #ccc;
                padding: 14% 4%;

                &:hover {
                    border: 6px solid #ded1b4;
                }

                img {
                    margin: 0 auto;
                }

                h2 {
                    font-size: 18px;
                    font-weight: bold;
                    margin: auto;
                    color: #000;
                }

                h3 {
                    font-size: 14px;
                    color: #505050;
                    padding-bottom: 3%;

                    &::before {
                        content: '________';
                        display: block;
                        color: #000;
                        padding-bottom: 3%;

                    }
                }

                p {
                    font-size: 14px;
                    font-weight: bold;
                    color: #505050;
                    padding: 3% 12%;
                    display: inline-block;
                    text-align: justify;
                }

                .price {
                    .toshop {
                        border: 1px solid #9a9a9a;
                        width: 190px;
                        margin: auto;
                        display: flex;
                        justify-content: space-evenly;

                        p {
                            margin-bottom: 0;
                            font-size: 16px;
                            margin-left: auto;
                        }

                        .toshop_pic {
                            display: flex;
                            align-items: center;
                            margin-left: auto;
                            padding: 0 15px;
                            border-left: 1px solid #9a9a9a;

                            &:hover {
                                background-color: #ded1b4;
                            }

                            .img {
                                background: url(../img/h1.png);
                                display: block;
                                font-size: 0;
                                height: 25px;
                                width: 20px;

                                &:hover {
                                    background: url(../img/h1_hover.png);

                                }

                            }
                        }
                    }
                }
            }

            .newitem {

                h2,
                h3,
                .price {
                    color: #777777;

                    p {
                        visibility: hidden;
                    }

                    .toshop_pic {
                        pointer-events: none;

                        .newitem_pic {
                            width: 100%;
                            height: auto;
                        }
                    }
                }
            }

            .swiper-button-prev {
                position: absolute;
                top: 55%;
                right: 96%;

                &::after {
                    content: '';
                }

                background-image: url(../img/c2.png);
            }

            .swiper-button-next {
                position: absolute;
                top: 55%;
                left: 96%;

                &::after {
                    content: '';
                }

                background-image: url(../img/c3.png);
            }
        }


        .swiper_mb {
            display: none;

            .container {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;

                .wrap {
                    padding: 2% 1%;

                    .card_type {
                        text-align: center;
                        border: 2px solid #ccc;
                        padding: 14% 4%;
                        width: 330px;

                        &:hover {
                            border: 6px solid #ded1b4;
                        }

                        img {
                            width: 100%;
                        }

                        h2 {
                            font-size: 18px;
                            font-weight: bold;
                            margin: auto;
                        }

                        h3 {
                            font-size: 14px;
                            color: #505050;
                            padding-bottom: 3%;

                            &::before {
                                content: '________';
                                display: block;
                                color: #000;
                                padding-bottom: 3%;

                            }
                        }

                        p {
                            font-size: 14px;
                            font-weight: bold;
                            color: #505050;
                            padding: 3% 12%;
                            display: inline-block;
                            text-align: justify;
                        }

                        .price {
                            .toshop {
                                border: 1px solid #9a9a9a;
                                width: 190px;
                                margin: auto;
                                display: flex;
                                justify-content: space-evenly;

                                p {
                                    margin-bottom: 0;
                                    font-size: 16px;
                                    margin-left: auto;
                                }

                                .toshop_pic {
                                    display: flex;
                                    align-items: center;
                                    margin-left: auto;
                                    padding: 0 15px;
                                    border-left: 1px solid #9a9a9a;

                                    &:hover {
                                        background-color: #ded1b4;
                                    }

                                    a {
                                        background: url(../img/h1.png);
                                        display: block;
                                        font-size: 0;
                                        height: 25px;
                                        width: 20px;

                                        &:hover {
                                            background: url(../img/h1_hover.png);

                                        }

                                    }
                                }
                            }
                        }
                    }

                    .newitem {

                        h2,
                        h3,
                        .price {
                            color: #777777;

                            p {
                                visibility: hidden;
                            }

                            .toshop_pic {
                                pointer-events: none;

                                #newitem_pic {
                                    background: url(../img/hh1.png);
                                }
                            }
                        }
                    }

                    .swiper-button-prev {
                        position: absolute;
                        z-index: 2;
                        left: -28px;

                        &::after {
                            content: '';
                        }

                        background-image: url(../img/c2.png);
                    }
                }
            }
        }

    }
}

@media (max-width: 980px) {
    .main>.facecare_info {
        .mySwiper02 {
            display: none;
        }

        .swiper_mb {
            display: block;
        }
    }
}

@media (max-width: 767px) {
    .main>.facecare_info {
        .swiper_mb {
            display: block;

            .wrap {
                padding: 5% 5% 2.5% 5%;
            }
        }
    }
}