body {
    width: 100%;
    margin: 0 auto;
    // overflow-x: hidden;

    .header {
        padding: 0 3%;
        background-color: #a88f67;
        position: relative;

        .group {
            display: flex;
            padding-left: 0.6%;

            .hmb {
                display: none;

                input {
                    display: none;
                }

                label {
                    display: block;

                    .hmb_pic {
                        cursor: pointer;

                        .lineee {
                            width: 30px;
                            height: 3px;
                            background-color: #fff;
                            margin-top: 7px;
                        }
                    }

                }

                .menu {
                    // clear: both;
                    background-color: #fff;
                    position: absolute;
                    z-index: 2;
                    left: 0;
                    width: 280px;
                    top: 43px;
                    height: 100vh;
                    max-height: 0;
                    overflow: hidden;

                    .accordion {
                        position: relative;

                        li {
                            border-radius: 0;
                            border: none;
                            border-bottom: 1px solid #eeeeee;

                            h2 {
                                margin-bottom: 0;

                                .accordion-button,
                                .vip {
                                    font-weight: bold;
                                    padding: 3% 7%;
                                    border-radius: 0;

                                }

                                .accordion-button::after {
                                    content: '';
                                    background-image: url(../img/a2.png);
                                    background-repeat: no-repeat;
                                    background-size: contain;
                                }

                                .accordion-button:not(.collapsed) {
                                    background-color: #434547;
                                    color: #000;
                                }

                                .accordion-button:not(.collapsed)::after {
                                    background-image: url(../img/a1.png);
                                    transform: none;
                                }

                                .accordion-button:focus {
                                    box-shadow: none;
                                    color: #fff;

                                }

                                .vip {
                                    font-size: 16px;
                                    color: #000;
                                    display: flex;
                                }

                            }

                            .accordion-collapse {
                                .accordion-body {
                                    padding: 0;

                                    ul {
                                        li {
                                            padding: 3% 13%;

                                            a {
                                                color: #000;
                                                font-weight: bold;
                                            }
                                        }
                                    }
                                }
                            }

                        }
                    }

                    .contact {
                        position: absolute;
                        bottom: 42px;

                        .contact_group {
                            display: flex;
                            padding: 0 5%;
                            padding-bottom: 3%;

                            li {
                                a {
                                    img {
                                        width: 60%;
                                        display: block;
                                        margin: auto;
                                    }
                                }
                            }
                        }

                        .contact_bt {
                            background-color: #c4c6cf;
                            display: flex;
                            padding: 3% 10%;

                            .language {
                                display: flex;
                                margin-left: auto;

                                li {
                                    padding-left: 7px;

                                    a {
                                        color: #000;
                                    }

                                    .ch {
                                        color: #6d7276;
                                    }

                                }

                            }
                        }
                    }
                }

                input:checked~.menu {
                    max-height: 100vh;
                }

            }

            .left {
                ul {
                    display: flex;

                    li {
                        border-right: 1px solid #fff;
                        padding: 0 13px;
                        padding-top: 4.5px;
                        padding-bottom: 6.5px;

                        a {
                            font-size: 14.5px;
                            color: #fff;
                        }
                    }
                }
            }

            .mid {
                .search_pic {
                    margin: 4px 12px;
                    cursor: pointer;

                    &:hover {
                        .search_group {
                            display: block;
                        }

                    }

                    .search_group {
                        display: none;
                        z-index: 2;
                        left: 0px;
                        position: absolute;
                        background: #fff;
                        width: 100vw;
                        height: 93px;
                        top: 42px;
                        border-bottom: 1px solid #c6c6c6;

                        .search_plc {
                            position: absolute;
                            left: 295px;
                            top: 0;

                            h2 {
                                font-size: 17px;

                            }

                            .keyword {
                                border: none;
                                border-bottom: 1px solid #ccc;
                                padding-bottom: 5px;
                                width: 500px;
                            }
                        }

                        .deco {
                            width: 100%;
                            color: #ccc;
                        }
                    }
                }
            }

            .right {
                margin-left: auto;

                ul {
                    display: flex;
                    padding-top: 8px;
                    padding-right: -10px;

                    li {
                        padding-right: 20px;

                        a {
                            display: flex;

                            .login_pic,
                            .member_pic,
                            .bag {
                                display: flex;
                                justify-content: center;
                                margin: 1px 5px;
                            }

                            h3 {
                                font-size: 14.5px;
                                color: #fff;
                                font-weight: normal;
                            }
                        }
                    }
                }
            }

        }
    }

    .nav {
        display: block;

        .group {
            display: flex;
            padding: 0 4.7%;
            padding-top: 1.28%;
            padding-bottom: 0.3%;

            .right {
                display: flex;
                margin-left: auto;
                padding-top: 5.2%;
                margin-right: -15px;
                font-weight: bold;

                .theme {
                    display: flex;
                    position: relative;

                    .story {
                        // position: absolute;
                        // left: -82px;
                        z-index: 1;
                        padding-right: 15px;


                        &:hover {
                            .story_group {
                                display: flex;
                            }
                        }

                        a {
                            color: #000;

                        }

                        .story_group {
                            display: none;
                            // flex-direction: row;
                            position: absolute;
                            top: 100%;
                            padding-top: 2%;
                            padding-left: 115px;

                            li {
                                padding-left: 25px;
                                font-weight: bold;

                                a {
                                    color: #6c6c6c;

                                }
                            }
                        }


                    }

                    .care {
                        padding-right: 15px;
                        z-index: 2;

                        &:hover {
                            .care_group {
                                display: flex;

                            }
                        }

                        a {
                            color: #000;
                        }

                        .care_group {
                            display: none;
                            position: absolute;
                            top: 100%;
                            left: -55px;
                            padding-top: 2%;

                            li {
                                padding-left: 20px;
                                font-weight: bold;

                                a {
                                    color: #6c6c6c;
                                }
                            }
                        }


                    }

                    .facecare {
                        padding-right: 15px;
                        z-index: 3;

                        &:hover {
                            .facecare_group {
                                display: flex;
                            }
                        }

                        a {
                            color: #000;

                        }

                        .facecare_group {
                            display: none;
                            z-index: 2;
                            position: absolute;
                            top: 100%;
                            padding-top: 2%;
                            left: -98px;

                            li {
                                padding-left: 20px;
                                font-weight: bold;

                                a {
                                    color: #6c6c6c;
                                }
                            }
                        }


                    }

                    .news {
                        padding-right: 15px;
                        z-index: 4;

                        &:hover {
                            .news_group {
                                display: flex;
                            }
                        }

                        a {
                            color: #000;

                        }

                        .news_group {
                            display: none;
                            z-index: 2;
                            position: absolute;
                            top: 100%;
                            padding-top: 2%;
                            left: 230px;


                            li {
                                padding-left: 20px;
                                font-weight: bold;

                                a {
                                    color: #6c6c6c;
                                }
                            }
                        }

                    }
                }

            }
        }

        .fixedline {
            width: 100%;
            padding-top: 3%;
            border-bottom: 2px solid #000;
            border-top: 1px solid #a88f67;
            position: relative;
        }


    }

    .main {

        .swiper {
            width: 100%;
            height: 100%;
        }

        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .swiper-slide img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .content {
            width: 100%;
            margin: 0 auto;
            padding: 3.8% 6%;
            text-align: center;

            h1 {
                font-size: 48px;
                margin: 0;
            }

            h2 {
                font-weight: normal;
                color: #333333;
            }

            .container {
                display: flex;
                justify-content: center;
                padding: 1.8% 0;
                flex-wrap: wrap;

                .wrap {
                    display: flex;

                    .item01,
                    .item02,
                    .item03 {
                        border: 1px solid #cccccc;
                        width: 200px;
                        line-height: 45px;
                        display: flex;
                        justify-content: center;

                        a {
                            color: #000;
                        }
                    }

                    .item01 {
                        background-color: #ded1b4;
                    }

                    .item04 {
                        border: 1px solid #cccccc;
                        width: 200px;
                        line-height: 45px;
                        display: flex;
                        justify-content: center;

                        a {
                            color: #000;
                        }
                    }
                }

            }

            .product {
                padding-top: 2%;

                .product_bg {
                    border: 7px solid #ded1b4;
                    padding: 3% 0;
                    margin-bottom: 2%;

                    .forpc {
                        display: flex;
                        width: 100%;

                        .left_pic {
                            width: 50%;
                            border-right: 1px solid #999999;
                        }

                        .right_text {
                            width: 50%;
                            margin: auto;

                            h2 {
                                font-size: 22px;
                                font-weight: bold;
                            }

                            h3 {
                                font-size: 14px;
                                color: #505050;

                                &::before {
                                    content: '________';
                                    display: block;
                                    color: #000;
                                    padding-bottom: 3%;

                                }
                            }

                            p {
                                font-size: 14px;
                                font-weight: bold;
                                color: #505050;
                                padding: 3% 12%;
                                display: inline-block;
                                text-align: justify;
                            }

                            .price {
                                .toshop {
                                    border: 1px solid #9a9a9a;
                                    width: 190px;
                                    margin: auto;
                                    display: flex;
                                    justify-content: space-evenly;

                                    p {
                                        margin-bottom: 0;
                                        font-size: 16px;
                                        margin-left: auto;

                                    }

                                    .toshop_pic {
                                        display: flex;
                                        align-items: center;
                                        margin-left: auto;
                                        padding: 0 15px;
                                        border-left: 1px solid #9a9a9a;

                                        &:hover {
                                            background-color: #ded1b4;
                                        }


                                        a {
                                            background: url(../img/h1.png);
                                            display: block;
                                            font-size: 0;
                                            height: 25px;
                                            width: 20px;

                                            &:hover {
                                                background: url(../img/h1_hover.png);

                                            }

                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                #mb_slide {
                    display: none;

                    #carouselExampleControls {
                        .carousel-inner {
                            border: 5px solid #ded1b4;
                            margin: auto;
                            width: 83%;
                            padding: 8%;

                            .carousel-item {
                                img {
                                    display: block;
                                    margin: auto;
                                    width: 100%;
                                }
                            }

                            .right_text {
                                width: 50%;
                                margin: auto;

                                h2 {
                                    font-size: 22px;
                                    font-weight: bold;
                                }

                                h3 {
                                    font-size: 14px;
                                    color: #505050;

                                    &::before {
                                        content: '________';
                                        display: block;
                                        color: #000;
                                        padding-bottom: 3%;

                                    }
                                }

                                p {
                                    font-size: 14px;
                                    font-weight: bold;
                                    color: #505050;
                                    padding: 3% 12%;
                                    display: inline-block;
                                    text-align: justify;
                                }

                                .price {
                                    padding-top: 3%;

                                    .toshop {
                                        border: 1px solid #9a9a9a;
                                        width: 190px;
                                        margin: auto;
                                        display: flex;
                                        justify-content: space-evenly;

                                        p {
                                            margin-bottom: 0;
                                            font-size: 16px;
                                            margin-left: auto;

                                        }

                                        .toshop_pic {
                                            display: flex;
                                            align-items: center;
                                            margin-left: auto;
                                            padding: 0 15px;
                                            border-left: 1px solid #9a9a9a;

                                            &:hover {
                                                background-color: #ded1b4;
                                            }


                                            a {
                                                background: url(../img/h1.png);
                                                display: block;
                                                font-size: 0;
                                                height: 25px;
                                                width: 20px;

                                                &:hover {
                                                    background: url(../img/h1_hover.png);

                                                }

                                            }
                                        }
                                    }
                                }
                            }

                        }

                        .carousel-control-prev {
                            width: 9%;
                            z-index: 1;

                            .carousel-control-prev-icon {
                                background-image: url(../img/c2.png);

                            }
                        }

                        .carousel-control-next {
                            width: 9%;
                            z-index: 1;

                            .carousel-control-next-icon {
                                background-image: url(../img/c3.png);

                            }
                        }
                    }
                }
            }

            .product_sm {
                .container {
                    display: flex;
                    flex-wrap: nowrap;
                    justify-content: space-around;

                    .wrap {
                        margin-right: 3%;

                        &:last-child {
                            margin-right: 0;
                        }

                        .group {
                            border: 3px solid #ded1b4;
                            width: 100%;

                            .item {

                                a {
                                    img {
                                        width: 100%;
                                        padding: 12px 12px 0;
                                    }
                                }

                                h2 {
                                    font-size: 16px;
                                    font-weight: bold;
                                }
                            }
                        }
                    }
                }
            }

        }
    }

    .brandintro {
        background-color: #ededed;
        margin-top: -1%;

        .intro_group {
            display: flex;
            padding: 25px;

            .intro_left {
                flex: 1;
                margin-right: 10px;
                background-image: url(../img/i6.png);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;

                .left_photo {
                    display: none;
                }
            }

            .intro_right {
                flex: 1;
                padding-left: 10px;

                .sm_nav {
                    background-color: #fff;
                    text-align: center;
                    padding: 7% 0;

                    ul {
                        display: flex;
                        justify-content: center;
                        flex-wrap: wrap;

                        li {
                            padding-right: 15px;


                            a {
                                font-size: 24px;
                                color: #757575;
                            }
                        }

                        #brandstory,
                        #Founder,
                        #Philosophy {
                            &:hover {
                                a {
                                    border-bottom: 2px dashed #000;
                                    width: fit-content;
                                    color: #000;
                                    padding-bottom: 2px;
                                }

                            }
                        }
                    }

                    #brandstory,
                    #Founder,
                    #Philosophy {
                        color: #333333;

                        h1 {
                            font-weight: normal;
                            font-size: 38px;
                            letter-spacing: 2px;
                            margin-bottom: 12px;
                        }

                        h2 {
                            font-size: 24px;
                        }

                        p {
                            font-size: 12px;
                            padding: 0 70px;
                            padding-top: 5px;
                            text-align: left;
                        }
                    }

                    .Founder,
                    .Philosophy {
                        display: none;
                    }
                }
            }
        }
    }

    .media {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 315px;
        background-color: #ededed;

        iframe {
            width: 50%;
        }

        .media01,
        .media02 {
            width: 25%;
            background-image: url(../img/c7.png);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;

            .media_group {
                text-align: center;
                position: relative;
                top: 25%;

                h1 {
                    color: #fff;
                    font-size: 42px;
                    text-shadow: 1px 2px 1px #000;
                }

                .more {
                    a {
                        border: 2px solid #fff;
                        background-color: #000;
                        opacity: 0.7;
                        color: #fff;
                        padding: 3% 10%;
                    }
                }
            }
        }

        .media02 {
            background-image: url(../img/c8.png);

        }
    }

    .latest_news {
        background-color: #ededed;
        padding: 30px 25px 60px;
        text-align: center;

        h1 {
            display: inline;
            font-size: 42px;
            letter-spacing: 2px;
        }

        h2 {
            font-weight: normal;
            font-size: 30px;
        }

        >p {
            padding: 1% 16.5%;
        }

        .latest {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;

            .post {
                width: 30%;

                .top {
                    img {
                        width: 100%;
                    }
                }

                .bottom {
                    text-align: left;
                    background-color: #fff;
                    padding: 7% 6% 1%;

                    h2 {
                        font-size: 24px;
                    }

                    h5,
                    p {
                        font-size: 14px;

                        a {
                            color: #818284;
                            font-size: 12px;
                        }
                    }

                    h5 {
                        color: #818284;
                        font-weight: normal;
                    }

                    .txt {
                        font-size: 16px;
                        margin-bottom: 25px;
                    }
                }
            }
        }
    }

    .footer {
        #accordion_mb {
            display: none;

            .accordion-item {
                border: none;
                border-bottom: 1px solid #fff;

                h2 {
                    margin: 0;

                    .accordion-button {
                        height: 40px;
                        background-color: #595959;
                        color: #fff;
                        font-weight: bold;
                        border-radius: 0;
                        border-top: transparent;

                        &:focus {
                            display: none;

                        }
                    }

                    .accordion-button::after {
                        content: '';
                        background-image: url(../img/a22.png);
                        background-repeat: no-repeat;
                        background-size: contain;
                    }

                    .accordion-button:not(.collapsed) {
                        background-color: #434547;
                    }

                    .accordion-button:not(.collapsed)::after {
                        background-image: url(../img/a1.png);
                        transform: none;
                    }
                }

                .accordion-collapse {
                    background-color: #434547;

                    .accordion-body {
                        padding: 0;

                        ul {
                            li {
                                padding: 1% 4%;
                                border-bottom: 1px solid #fff;

                                a {
                                    color: #fff;
                                    font-weight: bold;
                                }
                            }
                        }
                    }
                }
            }
        }

        .forpc {
            background-color: #000;
            display: flex;
            flex-direction: column;
            padding: 1% 4%;

            .top {
                display: flex;
                // padding: 0 6%;
                padding-top: 1.5%;
                padding-bottom: 4%;

                .footer_right {
                    margin-left: auto;
                    margin-top: 4%;
                    margin-right: 3%;

                    ul {
                        display: flex;

                        li {
                            padding-left: 25px;

                            &:first-child {
                                padding-left: 15px;
                            }
                        }
                    }
                }
            }

            .bottom {
                display: flex;
                color: #fff;
                justify-content: space-evenly;
                // padding: 0 3%;
                padding-bottom: 6%;

                .left {
                    width: 24%;
                    line-height: 1.4;

                    .add {
                        li {
                            font-size: 14px;

                            p {
                                color: #8b8b8b;
                            }
                        }
                    }
                }

                .mid {
                    margin-left: -50px;

                    .midforpc {
                        display: flex;
                        gap: 30px;
                        margin-left: 40px;

                        .ABOUT {
                            font-size: 14px;

                            .decoline {
                                border-bottom: 1px solid #6c6c6c;
                                width: fit-content;
                                padding-bottom: 5%;
                            }

                            ul {
                                padding-top: 5%;

                                li {
                                    padding: 2% 0;

                                    a {
                                        color: #fff;
                                        font-size: 14px;
                                    }
                                }
                            }
                        }

                        .PRODUCT {
                            font-size: 14px;
                            // padding: 0 32px;

                            .decoline {
                                border-bottom: 1px solid #6c6c6c;
                                width: fit-content;
                                padding-bottom: 5%;
                            }

                            ul {
                                padding-top: 5%;

                                li {
                                    padding: 2% 0;

                                    a {
                                        color: #fff;
                                        font-size: 14px;
                                    }
                                }
                            }
                        }

                        .NEWS {
                            font-size: 14px;
                            // padding: 0 32px;


                            .decoline {
                                border-bottom: 1px solid #6c6c6c;
                                width: fit-content;
                                padding-bottom: 5%;
                            }

                            ul {
                                padding-top: 5%;

                                li {
                                    padding: 2% 0;

                                    a {
                                        color: #fff;
                                        font-size: 14px;
                                    }
                                }
                            }
                        }

                        .CMS {
                            font-size: 14px;
                            // padding: 0 28px;

                            .decoline {
                                border-bottom: 1px solid #6c6c6c;
                                width: fit-content;
                                padding-bottom: 5%;
                            }

                            ul {
                                padding-top: 5%;

                                li {
                                    padding: 2% 0;

                                    a {
                                        color: #fff;
                                        font-size: 14px;
                                    }
                                }
                            }
                        }
                    }
                }

                .right {
                    .contact {
                        font-size: 16px;
                        border-bottom: 1px solid #6c6c6c;
                        width: auto;
                        padding-bottom: 1%;
                        color: #6c6c6c;
                    }

                    .cms {
                        padding-top: 3%;

                        li {
                            display: flex;
                            font-size: 14px;

                            .cms_left,
                            .time_left {
                                margin-right: 60px;
                            }

                            .tl {
                                padding-left: 27px;
                            }

                            .time {
                                padding-left: 35px;
                            }
                        }

                        .first_group {
                            margin-bottom: -15px;
                        }
                    }

                }
            }
        }
    }

}

@media (max-width: 980px) {
    body {
        .header {
            .group {
                padding: 0.65% 9%;

                .hmb {
                    display: block;
                }

                .left {
                    display: none;
                }

                .mid {
                    width: 70%;
                    display: flex;
                    justify-content: center;

                    .search_pic {
                        .search_group {
                            height: 80px;
                            top: 44px;

                            .search_plc {
                                left: 100px;
                                top: 23px;

                                h2 {
                                    display: none;
                                }

                                input {
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                }

                .right {
                    margin-left: 0;
                    width: 45%;

                    ul {
                        li {
                            padding-right: 0;

                            a {
                                h3 {
                                    display: none;
                                }
                            }
                        }

                        .login {
                            flex: auto;
                        }


                        .heart {
                            display: none;
                        }
                    }
                }
            }
        }


        .main {
            .content {
                .container {
                    .wrap {

                        .item01,
                        .item02,
                        .item03,
                        .item04 {
                            width: 350px;
                        }
                    }
                }

                .product {
                    .product_bg {
                        display: none;
                    }

                    #mb_slide {
                        display: block;
                    }
                }

                .product_sm {
                    padding: 3% 7%;

                    .container {
                        flex-wrap: wrap;

                        .wrap {
                            width: calc(50% - 3%);
                            margin: 3% 0;
                        }
                    }
                }
            }
        }

        .fixedline {
            padding-top: 0.7%;
        }

        .brandintro {
            .intro_group {
                display: block;

                .intro_left {
                    margin-right: 0;

                    .left_photo {
                        display: block;
                        width: 100%;
                    }
                }

                .intro_right {
                    padding-left: 0;
                }
            }
        }

        .media {
            display: contents;

            iframe,
            .media01,
            .media02 {
                width: 100%;
                height: 600px;
                display: inline-block;
                background-position: center;

                .media_group {
                    .more {
                        a {
                            padding: 1% 2%;
                        }
                    }
                }
            }
        }

        .latest_news {
            .latest {
                .post {
                    width: 100%;

                    .bottom {
                        padding: 2%;
                    }
                }
            }
        }

        .footer {
            #accordion_mb {
                display: block;
            }

            .forpc {
                position: relative;

                .top {
                    margin-top: 3%;
                    display: block;

                    .footer_left {
                        display: flex;
                        justify-content: end;
                    }

                    .footer_right {
                        position: absolute;
                        bottom: 30px;
                        left: 0;
                    }
                }

                .bottom {
                    flex-direction: column-reverse;
                    padding-bottom: 80px;

                    .left {
                        width: 100%;
                    }

                    .mid {
                        display: none;
                    }

                    .right {
                        .cms {
                            padding-top: 1%;

                            li {

                                .tl,
                                .time {
                                    position: absolute;
                                    right: 38px;
                                }
                            }


                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 767px) {
    body {
        .nav {
            padding: 0;
            border: none;

            .group {
                display: flex;
                justify-content: center;

                .left {
                    img {
                        width: 70%;
                        display: block;
                        margin: auto;
                    }
                }

                .right {
                    display: none;
                }
            }
        }

        .main {
            .content {
                padding: 0;

                .container {
                    .wrap {

                        .item01,
                        .item02,
                        .item03,
                        .item04 {
                            width: 182px;
                        }
                    }
                }

                .product {
                    .product_bg {
                        display: none;
                    }

                    #mb_slide {
                        display: block;
                    }
                }

                .product_sm {
                    padding: 3% 7%;

                    .container {
                        flex-wrap: wrap;

                        .wrap {
                            width: calc(50% - 3%);
                            margin: 3% 0;
                        }
                    }
                }
            }
        }

        .media {
            display: contents;

            iframe,
            .media01,
            .media02 {
                width: 100%;
                height: 350px;
                display: inline-block;
                background-size: cover;

                .media_group {
                    .more {
                        a {
                            padding: 1% 2%;
                        }
                    }
                }
            }
        }

        .latest_news {
            background-color: #ededed;
            padding: 60px 25px 50px;
            text-align: center;
            h1 {
                font-size: 34px;
            }
            h2 {
                font-size: 22px;
            }
            p {
                padding: 3% 0;
            }
            .latest {
                .post {
                    .bottom {
                        padding: 20px 18px 1px;
                    }
                }
            }
        }
    }
}